#footer {
  background: rgba(255, 255, 255, 0.15);
  color: #000;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  backdrop-filter: saturate(100%) blur(5px);
}

#footer::before {
  background: rgba(255, 255, 255, 0.15);
}

#footer #footer-wrap {
  color: var(--font-color);
}

#footer #footer-wrap a {
  color: var(--font-color);
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/Segoe UI.ttf");
}
@font-face {
  font-family: "FiraCode-Light";
  src: url("/fonts/FiraCode-Light.ttf");
}
@font-face {
  font-family: "FiraCode-Medium";
  src: url("/fonts/FiraCode-Medium.ttf");
}
@font-face {
  font-family: "HanyiSummerPalace";
  src: url("/fonts/HanyiSummerPalace.ttf");
}
.recent-post-item {
  max-height: 360px;
}
*::selection {
  background-color: #18696529;
  color: unset;
}
[data-theme='dark'] *::selection{
  background-color: #146b673b;
}

#article-container a{
  color: #055795;
}
[data-theme="dark"] #article-container a{
  color: #49b1f5;
}

[data-theme='dark'] div.note.info.modern{
  background: #222427;
  filter: none;
  color: #4ea7d3;
}

/* 宽度美化 */
.layout {
  max-width: 1500px;
}
.aside-content{
    max-width:380px;
    min-width:300px;
}
.recent-posts{
  width:auto!important;
}
@media screen and (max-width: 900px){
    .card-widget:not(#card-toc){
        display:none!important;
    }
}

.task-list-item{
  list-style: none;
}

h1, h2, h3, h4, h5, h6, .article-title, .post-title, .toc, .content, a{
  font-family: 'FiraCode-Light', monospace;
}

/* background */
#web_bg{
  background: linear-gradient(120deg, #84fab0, #8fd3f4);
}

[data-theme="dark"] #web_bg{
  /* background: linear-gradient(120deg, #16592b, #2b5d85); */
  background: black
}

[data-theme="dark"] #web_bg::before{
  background: none;
}

[data-theme='dark'] #article-container pre > code{
  background: none;
}

#article-container code{
  background: #d9edf7;
  color: #b31100;
}

[data-theme='dark'] #article-container code{
  background: #222427;
  color: #ff9286;
}

/* in card_tags.pug */
/* .card-tag-cloud a{
  color: #6d6262 !important;
} */