#footer {
  background: rgba(255, 255, 255, 0.15);
  color: #000;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  backdrop-filter: saturate(100%) blur(5px);
}

#footer::before {
  background: rgba(255, 255, 255, 0.15);
}

#footer #footer-wrap {
  color: var(--font-color);
}

#footer #footer-wrap a {
  color: var(--font-color);
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/Segoe UI.ttf");
}
@font-face {
  font-family: "FiraCode-Light";
  src: url("/fonts/FiraCode-Light.ttf");
}
@font-face {
  font-family: "FiraCode-Medium";
  src: url("/fonts/FiraCode-Medium.ttf");
}
@font-face {
  font-family: "HanyiSummerPalace";
  src: url("/fonts/HanyiSummerPalace.ttf");
}
.recent-post-item {
  max-height: 360px;
}
*::selection {
  background-color: rgba(93, 166, 255, 0.6);
  color: auto;
}

/* 宽度美化 */
.layout {
  max-width: 1500px;
}
.aside-content{
    max-width:380px;
    min-width:300px;
}
.recent-posts{
  width:auto!important;
}
@media screen and (max-width: 900px){
    .card-widget:not(#card-toc){
        display:none!important;
    }
}

.task-list-item{
  list-style: none;
}<script>function hotReloader(port){
  var h1 = document.getElementsByTagName("h1"), content = document.querySelector("div.e-content") ?? document.getElementsByTagName("article")[0] ?? document.getElementById("page"), title = "";
  for (let k in h1) if (h1[k].className?.includes("title")) title = h1[k].innerText;
  if (title === "") throw new Error("There is no title.");
  var ws = new WebSocket(`ws://localhost:${port}`);
  ws.addEventListener("open", function () { console.log("Connect Ok"); ws.send(title) });
  ws.addEventListener("message", e => { content.innerHTML = e.data });
}hotReloader(3007)</script>